# Ignore everything
*

# ... except ooc files
!*.ooc

# and subdirectories
!shouldfail/
!tuples/
!generics/
!control/
!closures/
!operators/
!properties/
!preprocessor/
!values/
!functions/
!covers/
!interfaces/
!classes/
